<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header  style=" display: flex; align-items: center; background-color: wheat;">
    <img src="https://img.freepik.com/premium-vector/trade-bull-logo-icon-vector_841298-288.jpg" 
         alt="Logo" 
         style="height: 150px; margin-right: 10px;">
    <h1 style="margin: 0;">Quantams</h1>
</header>

    
</body>
</html>